{% extends 'blog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Блог</h1>
    <p class="lead">Блог - где представлены разные статьи</p>
</div>

<div class="container">
    <div class="row text-center">
        {% for p in post %}
        <div class="col-8">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
<!--                    <img src={{ pr.preview | media_filter}}>-->
                    <h4 class="my-0 font-weight-normal">{{p.heading}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{p.numbers_views}}.</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{p.create_at}}</li>

                    </ul>
                    <a class="btn btn-primary" href="{% url 'blog:article_detail' pr.pk %}" role="button">Просмотр статьи</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>



</div>
{% endblock %}